.hero-slide {
  width: 100%;
}

.hero-slide section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 600px;
  margin-bottom: 30px;
  border-radius: 8px;
  width: 100%;
  width: calc(100vw - 40px);
}

@media (max-width: 600px) {
  .hero-slide section {
    height: 400px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    width: 450px;
    margin-bottom: 16px;
  }
}


.hero-slide h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.hero-content {
  position: absolute;
  bottom: 0;  
  width: 100%;
  padding: 0 16px 32px 16px;              
  width: 50%;
}


.hero-genres {
  margin-bottom: 32px;
  font-size: 1.2rem;
  color: #c5ccd8;
  font-weight: 600;
  width: max-content;
}

.hero-date {
  padding: 24px 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #c5ccd8;
} 

.bg-transparant {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;  
  gap: 8px;
}

.hero-content .play {
  background-color: unset;
  border: none;
  padding: 8px;
  border-radius: 8px;
}

@media (max-width: 800px) {
  .hero-slide h1 {
    font-size: 1.5rem !important;
  }
}