.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-buttons {
  height: 50px;
  color: #fff;
  gap: 8px;
  justify-content: space-between;
}

.tab-panels {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tab-panel {
  margin: 16px 32px;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 8px;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .tab-panel {
    margin: 0;
    width: 100%;
  }
}
